.region .hams-table {
  display: inline-block;
  width: auto;
  text-align: left;
}
.region.right .hams-table {
  text-align: right;
}

.hams-error {}

.hams-item {
  height: 50px;
  overflow: hidden;
}

.hams-main {
  font-size: 42px;
  line-height: 40px;
  padding: 0 12px 0 0;
  text-align: right;
}
.region.right .hams-main {
  float: right;
  padding: 0 0 0 12px;
}

.hams-info {}
.region.right .hams-info {
  float: left;
}

.hams-top {
  font-size: 14px;
  line-height: 18px;
  color: #ccc;
}

.hams-bottom {
  font-size: 18px;
  line-height: 22px;
  color: #666;
}

.hams-sensor {
  color: #eee;
}